body {
    background-image: url("https://i.pinimg.com/564x/27/d8/2b/27d82b5355a8b7685a7b86b1b62835c3.jpg");
    background-color: rgb(250, 223, 189);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
    background-color: #92aefa;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #18f096;
}

.chart-container {
    width: 80%;
    margin: 20px auto;
}

canvas {
    border: 1px solid rgb(196, 22, 22);
}